<div>
    <div class="page-header">
    <h3>Welcome to the Todo List site.</h3>
    </div>    
    <div>
        <p>
            This is a Todo list application. Featuring Nodejs, Angular, and Bootstrap.<br>
            I use encryption to store passwords, and store the authentication tokens (which<br>
            are passed back and forth through headers). It is a work in progress so there<br>
            will be more features added, as well as better UI/UX as I continue to develop.<br>
            You can view the source code on <a href="http://www.github.com/tomParty">github</a>.
        </p>
        <ul>
            <li><strong>Please log in</strong></li>
            <li><strong>Manage your todos</strong></li>
        </ul>
        <p>This is a one stop shop to help you remember those little things in life that go forgotten.</p>
    </div>
</div>    