<div>
    <div class="page-header">
    <h3>Welcome to the Todo List site.</h3>
    </div>    
    <div>
        <p>
            I hope this web application become of use for everyone. This was designed to be a very fast<br/>
            and lean todo list maker. We used cutting edge technology to milk every ounce of performance<br/>
            we could get. Don't be afraind to try this on your mobile phone. It should work just as good.
        </p>
        <ul>
            <li><strong>Please log in</strong></li>
            <li><strong>Manage your todos</strong></li>
        </ul>
        <p>This is a one stop shop to help you remember those little things in life that go forgotten.</p>
    </div>
</div>    