<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <meta charset="utf-8" />
       
        <link rel="stylesheet" href="/site.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
              crossorigin="anonymous">


        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
                crossorigin="anonymous"></script>
                
        <script src="https://code.angularjs.org/1.5.6/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.6/angular-route.min.js"></script>
        <script src="/app.js"></script> 
              
             
        
    </head>
    <body>
        
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-faded">
                    <a class="navbar-brand" href="#/">ToDo</a>
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/todo">To Do List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"href="#/login">Log In</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                            <li><input type="text" class="form-control" placeholder="UserName"/></li>
                            <li><input type="password" class="form-control" placeholder="Password"/></li>
                            <li><input type="button" class="btn btn-success" value="Log In"/></li>
                    </ul>
                </diV>
            </nav>  
            <div class="container body-content">
                <div ng-view></div>
            </div>        
        </div>
                                
    </body>
</html>