<div ng-if="isAuth">
    <div class="page-header">
        <h3>Todos</h3>
    </div>
    <todo-result></todo-result>   
    <div>
        <h3>Add a Todo Item</h3>
        <input type="text" ng-model="model.description" />
        <select ng-model="model.submitTodo" >
            <option ng-repeat="opt in model.options" value="{{opt.value}}">{{opt.name}}</option>
        </select>
        <input type="button" class="btn btn-success" ng-click="addTodo()" value="Add" />
    </div>
</div>
<div ng-if="!isAuth">
    <ul ng-repeat="error in model.errors">
        <li>{{error}}</li>
    </ul>
</div>